/* Default styles */
.checkout {
  display: flex;
  margin-top: 20px;
}

.checkout_left {
  flex: 0.7;
  margin-right: 20px;
}

.checkout_right {
  flex: 0.3;
  background-color: white;
  padding: 20px;
}

.checkout_ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout_title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.added-items {
  margin-top: 20px;
}

.product-info1 {
  display: flex;
  margin-bottom: 20px;
}

.product-image1 {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.product-details1 {
  display: flex;
  flex-direction: column;
}

.product_price1{
  margin-top: 5px;
}

.product-rating1 {
  display: flex;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .checkout {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .checkout_left,
  .checkout_right {
    flex: 1; /* Take up full width on smaller screens */
    margin-right: 0; /* Remove margin on smaller screens */
  }

  .product-image1 {
    width: 80px; /* Decrease image size for smaller screens */
    height: 80px;
    margin-right: 10px; /* Decrease margin for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .checkout_right {
    padding: 10px; /* Decrease padding for smaller screens */
  }
}
