/* Default styles */
.header {
  display: flex;
  align-items: center;
  background-color: #131921;
  padding: 10px 20px;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
}

.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: white;
}

.headerOption_lineOne {
  font-size: 10px;
}

.headerOption_lineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .header_logo {
    width: 80px;
    margin-right: 10px;
  }

  .header_searchInput {
    padding: 8px;
  }

  .headerOption_lineOne {
    font-size: 8px;
  }

  .headerOption_lineTwo {
    font-size: 11px;
  }
}

@media screen and (max-width: 480px) {
  .header_searchInput {
    padding: 6px;
  }

  .headerOption_lineOne {
    font-size: 6px;
  }

  .headerOption_lineTwo {
    font-size: 9px;
  }
}
